* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    margin: 0 10%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 40px;
    margin: 8px;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
}

.links a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-content {
    display: flex;
    height: 95vh;
    justify-content: space-around;
    align-items: center;
}

.section-1-left, .section-1-right {
    width: 50%;
    margin: 0 16px;
}

.section-1-right img {
    width: 40vw;
}

.section-1-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section-1-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1-left a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.section-2-bottom {
    display: flex;
    flex-direction: column;
}

.section-2-bottom-images, .section-2-bottom-text{
    display: flex;
    justify-content: space-around;
    margin: 0 8px;
}

.frames img{
    width: 200px;
    margin: 32px;
}

.section-2-bottom-text{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}